@import "./App.css";


/* 10 em appeared to be the best looking result that didn't destroy the sizing of the footer */
footer {
    background-color: var(--backPress);
    color: var(--pageHigh);
    margin: 0px;
    padding: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10vw;
    height: max(20vh, 10em);
    width: 100vw;
    z-index: 98;
}

footer h1 {
    margin: 1vh;
}

div.footerSection {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0px;
}

footer div.linksWrap {
    align-items: flex-end;
    justify-content: end;
    margin-left: auto;
    margin-right: 5vw;
}

ul.linkList {
    margin-right: 5vw;
    list-style-type: none;
}

ul.linkList li {
    display: inline-block;
    overflow: auto;
    margin: 0px 0.5vw 0px 0.5vw;
}

ul.contactList {
    list-style-type: none;
    padding: 0px;
}

ul.contactList li {
    margin-top: 1em;
    margin-bottom: 1em;
}
