@import "./App.css";

/* Variables will be named by <description>X
 * When description describes the variable
 * and X is the section it belongs to
 * EG: "imagelocI" means image location in the Intro section
 */

div.intro {
    width: 100%;
    height: 80vh;
    background-image: url("../media/backgroundintro.png");
    background-position: center;
    /* animation: 200s linear infinite movebackground; */
    grid-template-columns: 10% [imagelocI] 33.75% [captionstartI] 6% [namestartI] 41.5% [nameendI] 8.75% [rightedgeI];
    grid-template-rows: 25% [imagestartI] 5% [namelocI] 20% [captionbox] 15% 30% [imageendI] 10% [finaledgeI];
    /* the 15 30 is for the box and space */
}

div.graduate {
    width: 100%;
    height: 70vh;
    background-image: url("../media/guelphbackground.JPG");
    background-size: 2000px auto;
    background-position: center;
    /* animation: 200s linear infinite backgroundgrad; */
    grid-template-columns: [titleleftG] 50% [descleftG] 10% [titlerightG] 40% [descrightG];
    grid-template-rows: [titletopG] 15% [titlebottomG] 45% [desctopG] 40% [descbottomG];
}

div.projectoverview {
    width: 100%;
    height: 70vh;
    background-color: black;
    grid-template-columns: [linkboxleftP] 45% [linkboxrightP] 10% [listboxleftP] 45% [listboxrightP];
    grid-template-rows: 10% [boxtopP] 80% [boxbottomP] 10%;
}

@keyframes movebackground {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 50% 10%;
    }

    50% {
        background-position: 60% 70%;
    }

    75% {
        background-position: 15% 46%;
    }

    100% {
        background-position: 0% 0%;
    }

}

@keyframes backgroundgrad {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 40% 40%;
    }

    50% {
        background-position: 60% 60%;
    }

    75% {
        background-position: 15% 70%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* --------------------------------
 * INTRO
 * --------------------------------
 */

/* The text involved with the titles */
div img.headshot {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    grid-column: imagelocI;
    grid-row-start: imagestartI;
    grid-row-end: imageendI;
    animation: 1s ease-out 0.5s 1 both fadeIn;
}

div div.introtitle {
    grid-column-start: namestartI;
    grid-column-end: nameendI;
    grid-row-start: namelocI;
    grid-row-end: captionbox;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    font-size: calc(10px + 4vmin);
    animation: 1.5s ease-out 1s 1 both slideinright;
}

div div.captionbox {
    grid-column-start: captionstartI;
    grid-column-end: rightedgeI;
    grid-row: captionbox;
    background-color: var(--backEmph);
    justify-content: center;
    border-radius: 20px 0px 0px 20px;
    font-size: calc(12px + 2vmin);
    animation: 1s ease-out 0.5s 1 both slideinright;
    box-shadow: 2px 4px 4px var(--textCol);
}

/* --------------------------------
 * GRADUATE
 * --------------------------------
 */

div div.gradtitle {
    grid-column-start: titleleftG;
    grid-column-end: titlerightG;
    grid-row-start: titletopG;
    grid-row-end: titlebottomG;
    border-radius: 0px 0px 10px 0px;
    font-size: calc(12px + 1vw);
    box-shadow: -2px 10px 40px var(--textShadow);
    text-wrap: nowrap;
}

div div.graddesc {
    grid-column-start: descleftG;
    grid-column-end: descrightG;
    grid-row-start: desctopG;
    grid-row-end: descbottomG;
    font-size: calc(5px + 1vw);
    box-shadow: 2px 10px 40px var(--textShadow);
}

/* --------------------------------
 * PROJECT
 * --------------------------------
 */

div div.suggestbox {
    grid-column-start: linkboxleftP;
    grid-column-end: linkboxrightP;
    grid-row-start: boxtopP;
    grid-row-end: boxbottomP;
    background-color: var(--backEmph);
    box-shadow: -5px 5px 40px var(--textCol);
    border-radius: 0px 40px 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.emphtext {
    font-size: calc(10px + 4vmin);
    margin: 2vh;
}

div.suggestcaption {
    margin-left: 3vw;
    margin-right: 3vw;
    text-align: center;
}

div.suggesthide {
    color: var(--backEmph);
}

div div.projectbox {
    grid-column-start: listboxleftP;
    grid-column-end: listboxrightP;
    grid-row-start: boxtopP;
    grid-row-end: boxbottomP;
    padding: 0px;
}

div div.projectbox ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: 0px;
    gap: 5vh;
}

div div.projectbox ul li {
    background-color: var(--backEmph);
    width: 100%;
    height: 12vh;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 5px 2px 20px var(--textCol);
    display: flex;
    justify-content: left;
    align-items: center;
}

ul li.slidein {
    animation: 1s ease-out 0s 1 both slideinright;
}

div.textlist {
    animation: 0.5s ease-in 0.7s 1 both bounceIn;
    margin: 3vw;
}