@import "./App.css";

@keyframes slideinleft {
    0% {
        opacity: 0%;
        transform: translateX(-70vw);
    }
  
    100% {
        transform: translateX(0vw);
    }
}

ul.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
 * 5
 * 0.5
 * 80
 * 0.5
 * 5
 */
ul.list li {
    margin: 10vh -1vw 5vh 5vw;
    width: auto;
    padding: 2vw;
    padding-left: 5vw;
    background-color: var(--backReg);
    border: 1vw solid var(--backEmph);
    border-radius: 0.5vw;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1vh 2vw;
}

.slideinleft {
    animation: 0.5s ease-in 0s 1 both slideinleft;
}

/* Usually the format will be:
 * h2
 * stuff
 *
 * Stuff will encapsulate images, text, links, etc.
 */
ul.list li div.content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1vh 2vw;
    width: 90%;
}

ul.list li img {
    height: auto;
    width: 25vw;
}

ul.list li div.textcontent {
    align-content: flex-end;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto;
    gap: 0px;
    animation: 0.3s ease-in 0.5s 1 both bounceIn;
    min-width: 0;
}

/* For fonts, I ended up finding out width was better for scaling then height*/
ul.list li h2  {
    width: 100%;
    font-size: calc(10px + 2vw);
    margin: 1vh;
    margin-left: 0px;
    color: var(--textCol);
}

ul.list li h3 {
    width: 100%;
    font-size: calc(6px + 1vw);
    margin-top: 0px;
    margin-bottom: 1vh;
    margin-left: 5vw;
    color: var(--textCol);
}

ul.list li div.content p {
    text-wrap: pretty;
    font-size: calc(5px + 1vw);
    margin: 0px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-right: 1vw;
    color: var(--textCol);
    flex-shrink: 1;
    min-width: 0;
    flex-basis: 0;
}

ul.list li div.content a {
    text-align: center;
    font-size: calc(7px + 1vw);
    margin: 10px 0px 0px 0px;
    padding-right: 1vw;
    min-width: 0;
    word-wrap: break-word;
}

a.listlinkanim {
    animation: 0.3s ease-in 0.8s 1 both bounceIn;
}